.root {
    position: fixed;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 6px;
    width: auto;
    bottom: 5px;
    z-index: 9999;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: -2px 2px #888;
}

.leftPopup {
    left: 3px;
}

.rightPopup {
    right: 3px;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 18px;
}

.headerButton {
    cursor: pointer;
}

.content {
  
}