.root {
    
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 3rem;
}

.blockName {
    margin-bottom: 1.25rem;
    margin-top: 1.5625rem;
    line-height: 1.1;
    font-size: 1.625rem;
}

.gridItem {

}

@media(min-width: 640px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(min-width: 1024px) {
    .wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}